<div class="container-fluid">
  <div class="row">
    <div class="col">
      <h1 style="text-align: center;" class="mg-bottom">
        <button class="btn btn-success" style="margin-top:0.8rem">Create New Recipe</button>
      </h1>
    </div>
  </div>
</div>

<div *ngIf="recipes?.length > 0; else nodata" class="container-fluid">
  <div class="row" *ngFor="let row of newArray">
    <ng-container *ngFor="let item of row?.items">
      <div class="card m-1 p-1 bg-light">
        <img class="card-img-top w-50 h-50" src="../../assets/icon-placeholder.png" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">
            {{item.name}}
          </h5>
          <p class="card-text">{{item.description}}</p>

        </div>
        <div class="card-footer">
          <button class="btn btn-sm btn-secondary">
            Edit
          </button>
          <button class="btn btn-sm btn-danger float-right">
            Remove
          </button>
        </div>
      </div>
    </ng-container>
  </div>
</div>

<ng-template #nodata>
  <h4 class="m-2">Waiting for data...</h4>
</ng-template>
