<div class="container-fluid">
  <div class="row">
    <div class="col">
      <h1 style="text-align: center;" class="mg-bottom">
        <button [routerLink]="['/menu/create']" class="btn btn-outline-success">Create New Recipe</button>
      </h1>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <ng-container *ngIf="recipes?.length > 0; else nodata">
      <div class="col-md-4" *ngFor="let item of recipes">
        <menu-display-item [item]="item" (notifyDelete)="onDeleteNotification($event)"></menu-display-item>
      </div>
    </ng-container>
  </div>
</div>

<ng-template #nodata>
  <h4 class="m-2">No data recieved...</h4>
</ng-template>
