<div class="container">
  <div class="col-xl-5 col-lg-6 col-md-8 col-sm-10 mx-auto text-center form p-4">
    <h1 class="display-4 py-2 text-truncate">Recipe</h1>
    <div class="px-2">
      <form action="" class="justify-content-center">
        <div class="form-group">
          <img class="card-img-top w-50 h-50 mx-auto mt-1" src="../../assets/icon-placeholder.png" alt="Card image cap">
        </div>
        <div class="form-group">
          <input type="text" class="form-control" [(ngModel)]="recipe.name"
                 name="name" placeholder="Enter name here...">
        </div>

        <div class="form-group">
          <textarea type="text" class="form-control" rows="3" id="description" placeholder="Enter description here..."
                    [(ngModel)]="recipe.description" name="description"></textarea>
        </div>

        <recipe-steps [steps]="recipe.steps" [editMode]="editMode"></recipe-steps>

        <button type="button" class="btn btn-outline-success btn-lg mr-5" (click)="saveRecipe()">Save</button>

        <button type="button" class="btn btn-outline-danger btn-lg" [routerLink]="['/menu']">Cancel</button>

        <div *ngIf="successfullyCreated" class="alert alert-success mt-2" role="alert">
          Recipe successfully created.
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
