<div class="container">
  <div class="col-xl-5 col-lg-6 col-md-8 col-sm-10 mx-auto text-center form p-4">
    <h1 class="display-4 py-2 text-truncate">Recipe</h1>
    <div class="px-2">
      <form>
        <div class="form-group">
          <img class="card-img-top w-50 h-50 mx-auto mt-1" src="../../assets/icon-placeholder.png" alt="Card image cap">
        </div>
        <div class="form-group">

          <label for="name" class="float-left">Name</label>
          <input type="text" class="form-control" [ngModel]="recipe?.name"
                 name="name" placeholder="Enter name here..." readonly>
        </div>

        <div class="form-group">
          <label for="description" class="float-left">Description</label>
          <textarea type="text" class="form-control" rows="3" id="description" placeholder="Enter description here..."
                    [ngModel]="recipe?.description" name="description" readonly></textarea>
        </div>

        <recipe-steps [steps]="recipe?.steps" [editMode]="editMode"></recipe-steps>

        <button type="button" class="btn btn-outline-danger btn-lg" [routerLink]="['/menu']">Back</button>
      </form>
    </div>
  </div>
</div>
