<div *ngIf="editMode" class="form-group">
  <input type="text" class="form-control" [(ngModel)]="stepDescription"
         name="stepDescription" size="40" placeholder="Type the new step, press enter to add." (keyup.enter)="addStep()">
</div>

<div *ngFor="let item of steps; trackBy: trackItem" class="list-group-item list-group-item-warning mb-2">
  <p class="text-left">
    <span style="cursor:pointer" (click)="setDescription(item.description)" title="click to edit">({{item.trackId}}). {{item.description}}</span>

    <ng-container *ngIf="editMode">
      <button type="button" class="float-right btn-sm btn btn-outline-danger"
              (click)="removeStep(item.trackId)"
              title="Remove the item.">
        <i class="far fa-trash-alt"></i>
      </button>
      <button type="button" class="float-right btn-sm btn btn-outline-secondary mr-2" (click)="updateStep(item.trackId)"
              title="click here to replace the text with what's in the text input.">
        <i class="far fa-edit"></i>
      </button>
    </ng-container>
  </p>
</div>
